.button {
  background-color:white;
  color: #1B1717;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:relative; left:500px; top:200px;
}
body{
  background-color:  #1B1717;
}
