
body{

  text-align: center;
}
.companyText{
  text-align: center;
  font-size: 30px;
}
.sub-headingclearfix{
  padding: 20px;
    text-align: center;
  font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 15px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
}
.sepclearfix
{
  text-align: center;
  background-color: #f8f9fa;
}
