section{
font-size:16px;
margin-bottom: 20px;
}
.card-body{
   background-color: #1B1717;
  color:white;
  border-radius: 2.5px;
}
.card-title{
  color: #B1B1B1;
}
.card{
  background-color:#1B1717;
  border-radius: 5px;
}
.E{
  background-color: #01949A;
  color: black;
  //border-radius: 5px;
  box-shadow: 6px 6px 5px #aaaaaa;
}

p{
   font-style: 'Roboto',sans-serif;
}
