.abc{
  background-color:  #e4fbff
}
.card-body{
background-color: #1B1717;
border-radius: 5px
}
.J{
  background-color: #01949A;
  color: white
}
.card{
      background-color: #1B1717;
      color: white;
      height: 250px;
      width: 100%;
      box-shadow: 0px 0px 10px #6e7582;
      border-radius: 5px
}
h1{
  text-align: center
}
h2{
  text-align: center
}
p{
  text-align: center
}
section{
  font-size: 16px
}
