
.top-container{
  font-family: 'Roboto',sans-serif;;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.G-title{
  background-color: #4b778d;
}

.G-container
{

  width: 100vw;
  min-height: 50px;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  z-index:0;
  box-sizing:border-box;
}
.G-box{
  background-color:#1B1717;
  color:#f9fcfb;
  position: relative;
  width: 33vw;
  border-radius: 2.5px;
  height:42vw;
  min-height:320px;
  overflow:hidden;
  transition: all 0.5s ease-in;
  z-index:2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 6px 6px 5px #aaaaaa;
}
.G-container.box p{
  margin: 0;
  padding: 10px;
  font-size:16px;
}
