h1{
  text-align:center
}
h2{
  text-align:center
}
.A{
  background-color: #e4fbff
}
.card{
  background-color: #1B1717;
  color: white;
  height: 250px;
  width: 100%;
  border-style: none;
  box-shadow: 0px 0px 10px #6e7582
}
.card-body{
  background-color: #1B1717;
  border-radius: 5px
}
.H{
  background-color: #01949A;
  color:white
}
section{
  font-size: 16px
}
